.step{
    background-color: darkgrey;
    padding: 20px;
    border-radius: 8px;
}

.step h3{
    font-size: 24px;
    color: gold;
}

.step p{
    font-size: 17px;
    color: #555;
    margin-top: 10px;
}

.tips-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tip{
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

.tip h3{
    font-size: 24px;
    color: #E63946;
}

.tip p{
    font-size: 17px;
    color: #555;
    margin-top: 10px;
}

.spades-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: black;
}

.spades-intro .intro-text {
    max-width: 50%;
}

.spades-intro h1 {
    font-size: 48px;
    color: goldenrod;
}

.spades-intro p {
    font-size: 17px;
    color: white;
    margin-top: 10px;
}

.spades-intro .intro-image img {
    width: 500px;
    border-radius: 8px;
}

.spades-rules {
    padding: 40px;
    background-color: darkgreen;
}

.spades-rules h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: gold;
}

.spades-rules ul {
    list-style-type: disc;
    padding-left: 40px;
    color: white;
}

.spades-rules ul li {
    margin-bottom: 15px;
    font-size: 17px;
    color: white;
}

.spades-guide{
    padding: 40px;
    background-color: black;
}

.spades-guide h2 {
    font-size: 40px;
    text-align: center;
    color: darkred;
    margin-bottom: 30px;
}

.spades-tips {
    padding: 40px;
    background-color:darkgreen;
}

.spades-tips h2 {
    font-size: 40px;
    text-align: center;
    color: gold;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: 1.5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     
    .spades-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .intro-image img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    
    .spades-intro h1 {
        font-size: 30px;
    }

   
    .spades-intro p {
        font-size: 16px;
    }
}

